<h1>KO Tree Demonstration</h1>

<div data-bind-element='projects'>
  <%= form_for(:project, html: { id: 'projects-form', 'data-bind' => 'submit: submitProject' }) do |f| %>
  <div class='input-append'>
    <%= f.text_field :name, placeholder: 'Enter an item', class: 'input input-xlarge', 'data-bind' => 'value: input, valueUpdate: "afterkeydown"' %>
    <%= f.submit "Create", { class: 'btn btn-success', 'data-bind' => 'enable: input().length > 0' } %>
  </div>
  <% end %>

  <ul class="nav nav-list" data-bind="template: {name: 'projects_template', foreach: projects}">
  </ul>

  <script type='text/html' id='projects_template'>
    <li data-bind="attr: {'data-id': $data.id, class: 'project-nav-li'}, droppable: $root">
      <span href='#' data-bind='html: "<a href=\"#\">" + name() + "</a>"'></span><span class='pull-right project-delete' data-bind='click: $root.deleteProject'><i class='icon-trash'></i></span>
    </li>
    <ul class="nav nav-list" data-bind="template: {name: 'projects_template', foreach: projects}">
    </ul>
  </script>
</div>
